<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--GETPOINT GH TEST-->
    <add name="API_ENT" connectionString="metadata=res://*/Model.API.API_ENT.API_ENT.csdl|res://*/Model.API.API_ENT.API_ENT.ssdl|res://*/Model.API.API_ENT.API_ENT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.2,1436;initial catalog=GetPoint_GH_Test;persist security info=True;user id=sa;password=@Qaz151618;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="API_CLS" connectionString="metadata=res://*/Model.API.API_CLS.API_CLS.csdl|res://*/Model.API.API_CLS.API_CLS.ssdl|res://*/Model.API.API_CLS.API_CLS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.2,1436;initial catalog=GetPoint_GH_Test;persist security info=True;user id=sa;password=@Qaz151618;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="GP_CLS" connectionString="metadata=res://*/Model.GET_POINT.GP_CLS.GP_CLS.csdl|res://*/Model.GET_POINT.GP_CLS.GP_CLS.ssdl|res://*/Model.GET_POINT.GP_CLS.GP_CLS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.2,1436;initial catalog=GetPoint_GH_Test;persist security info=True;user id=sa;password=@Qaz151618;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="GP_ENT" connectionString="metadata=res://*/Model.GET_POINT.GP_ENT.GP_ENT.csdl|res://*/Model.GET_POINT.GP_ENT.GP_ENT.ssdl|res://*/Model.GET_POINT.GP_ENT.GP_ENT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.2,1436;initial catalog=GetPoint_GH_Test;persist security info=True;user id=sa;password=@Qaz151618;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--PRODUCCION DEBUG-->
    <!--PRODUCCION-->
    <!--<add name="API_ENT" connectionString="metadata=res://*/Model.API.API_ENT.API_ENT.csdl|res://*/Model.API.API_ENT.API_ENT.ssdl|res://*/Model.API.API_ENT.API_ENT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.68;initial catalog=ANENCOMIENDAS;persist security info=True;user id=sa;password=@Qaz151618;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="API_CLS" connectionString="metadata=res://*/Model.API.API_CLS.API_CLS.csdl|res://*/Model.API.API_CLS.API_CLS.ssdl|res://*/Model.API.API_CLS.API_CLS.msl;provider=System.Data.SqlClient;provider connection string=&quot;ddata source=192.168.2.68;initial catalog=ANENCOMIENDAS;persist security info=True;user id=sa;password=@Qaz151618;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="GP_CLS" connectionString="metadata=res://*/Model.GET_POINT.GP_CLS.GP_CLS.csdl|res://*/Model.GET_POINT.GP_CLS.GP_CLS.ssdl|res://*/Model.GET_POINT.GP_CLS.GP_CLS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.68;initial catalog=ANENCOMIENDAS;persist security info=True;user id=sa;password=@Qaz151618;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="GP_ENT" connectionString="metadata=res://*/Model.GET_POINT.GP_ENT.GP_ENT.csdl|res://*/Model.GET_POINT.GP_ENT.GP_ENT.ssdl|res://*/Model.GET_POINT.GP_ENT.GP_ENT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.68;initial catalog=ANENCOMIENDAS;persist security info=True;user id=sa;password=@Qaz151618;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="API_ENT" connectionString="metadata=res://*/Model.API.API_ENT.API_ENT.csdl|res://*/Model.API.API_ENT.API_ENT.ssdl|res://*/Model.API.API_ENT.API_ENT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.2,1435;initial catalog=WESTORAGE;persist security info=True;user id=sa;password=@Qaz151618;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="API_CLS" connectionString="metadata=res://*/Model.API.API_CLS.API_CLS.csdl|res://*/Model.API.API_CLS.API_CLS.ssdl|res://*/Model.API.API_CLS.API_CLS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.2,1435;initial catalog=WESTORAGE;persist security info=True;user id=sa;password=@Qaz151618;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GP_CLS" connectionString="metadata=res://*/Model.GET_POINT.GP_CLS.GP_CLS.csdl|res://*/Model.GET_POINT.GP_CLS.GP_CLS.ssdl|res://*/Model.GET_POINT.GP_CLS.GP_CLS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.2,1435;initial catalog=WESTORAGE;persist security info=True;user id=sa;password=@Qaz151618;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GP_ENT" connectionString="metadata=res://*/Model.GET_POINT.GP_ENT.GP_ENT.csdl|res://*/Model.GET_POINT.GP_ENT.GP_ENT.ssdl|res://*/Model.GET_POINT.GP_ENT.GP_ENT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=35.166.138.133;initial catalog=Getpoint_GH_Test;user id=sa;password=@Qaz151618;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
