<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>GP LOGISTICO | API</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="Shortcut Icon" href="~/favicon.ico">
    <link href="~/Content/theme/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-4.4.1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awensome-5.13.0/css/all.css" rel="stylesheet" />
    <link href="~/Content/template.css" rel="stylesheet" />
</head>
<body class="h-100">
    <nav id="navbar" class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="holder.js/100x50" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto"></ul>
            <div class="form-inline my-2 my-lg-0">
                <a href="#" class="btn btn-link text-info " type="submit">DOCUMENTACIÓN <i class="fas fa-sign-out-alt"></i> </a>@*MODIFICAR POR URL DE DOCUMENTADOR*@
            </div>
        </div>
    </nav>
    <div id="main" class="d-flex flex-row bg-dark">
        <div id="main_r" class="p-2  w-100 h-100">
            <div class="container-fluid p-3">
                <div class="card w-100">
                    <div class="card-body text-center">
                        <h5 class="card-title text-left f-w-400 card-text  small text-info text-center"><i class="fas fa-exclamation-circle"></i> Recurso no encontrado, consulta la documentación asociada a esta API.</h5>
                        <img src="holder.js/400x600" alt="" loading="lazy" class="img-responsive">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer  bg-dark">
        <div class="d-flex flex-row">
            <div class="w-50 text-left container-fluid"><span class="text-muted small">v @API_GP_LOGISTICO.Controllers.util.CONFIGS.APP_KEY_API_VERSION</span></div>
            <div class="w-50 text-right container-fluid"><span class="text-muted small">powered by <a href="#" class="text-info" target="_blank">xxxx</a></span></div>@*MODIFICAR POR URL DE EMPRESA*@
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.41/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/holder.js"></script>
</body>
</html>

